html {
	font-size: 12px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

h1 {
	margin: 1.2rem;
}

div {
	border-radius: 10px;
/*
	border: #ff0000 1px dotted;
*/
}

.hide {
	display: none;
}

.font-small {
	letter-spacing: 0rem!important;
/*
	font-size: 0.8rem!important;
	line-height: 1.8rem!important;
*/
}

.font-large {
	font-size: 1.2rem!important;
}

.col {
	position: relative;
	display: inline-block;
}

.row {
	width: 100%;
	position: relative;
	display: block;
}

.white {
	color: #ffffff;
}

.dark-blue {
	color: #2711A3;
}

.dark-red {
	color: #B00011;
}

.blue-shadow {
	text-shadow: 2px 2px 2px #0e5aad
	, 2px -2px 2px #0e5aad
	, -2px -2px 2px #0e5aad
	, -2px 2px 2px #0e5aad
;
}

.container {
	margin: 1rem;
}




.tooltip {
	padding: 0.6rem 0.6rem;
	margin-bottom: 1rem;
	background: #FFFFDF;
	border-radius: 5px;
	border: #cccccc 1px solid;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2)
	, -1px -1px 2px rgba(0,0,0,0.2)
	, -1px 1px 2px rgba(0,0,0,0.2)
	, 1px -1px 2px rgba(0,0,0,0.2)
;
}

.tooltip .tooltip-inner {
	width: 20rem;
	font-size: 1.12rem;
}


.ajax-modal {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(255,255,255, 1);
	z-index: 1000;
}

.loader {
	position: absolute;
	top: 50%;
	width: 24rem;
	margin-left: -12rem;
}



